<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
</head>
<body>
    <header>
        <nav>
            <div class="logo" id="nav-logo">{{.Title}}</div>
            <ul>
                <li><a id="nav-home">Home</a></li>
                <li><a id="nav-about">About</a></li>
                <li><a id="nav-login">Login</a></li>
                <li><a id="nav-register">Register</a></li>
                <li><a id="nav-logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div id="app">
        <h1>{{.Title}}</h1>
        <div>
            {{.Body}}
        </div>
    </div>
    <script type="module" src="/static/js/script.js"></script>
</body>
</html>