<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="site-container">
        <header class="site-header">
            <div class="nav-toggle" id="nav-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <div class="header-content">
                <a href="/" class="logo" id="logo" data-link>Data Vault</a>
                <nav class="site-nav">
                    <a id="nav-home" class="btn btn-secondary">Home</a>
                    <a id="nav-dashboard" class="btn btn-secondary">Dashboard</a>
                    <a id="nav-login" class="btn btn-secondary">Login</a>
                    <a id="nav-register" class="btn btn-secondary">Register</a>
                    <a id="nav-logout" class="btn btn-secondary">Logout</a>
                    <a id="nav-about" class="btn btn-secondary">About</a>
                </nav>
            </div>
        </header>

        <main id="app" class="site-content"></main>

        <footer class="site-footer">
            <p>&copy; 2025 Toni Oduor. All Rights Reserved.</p>
        </footer>
    </div>
    <script type="module" src="/static/js/app.js"></script>
</body>
</html>